{% extends "bootstrap/base.html" %}
{% block title %} Flask-MQTT Dashboard (Humidity & Temperature) {% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="./socket.io.min.js" /> -->
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function(){
            socket.emit('client_connected', {data: 'Client connected on websocket!'})
        });

        window.setInterval(function(){
            socket.emit('publishTemp')
        }, 2000); // every 2 seconds

        socket.on('getTemp', function(data){
            console.log(data)
            $('#temp').fadeOut(function(){
                $(this).text(data.payload).fadeIn();
            });
        });
    });   
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h1 id="temp"></h1>
        </div>
    </div>
</div>

{% endblock %}
