{% extends "bootstrap/base.html" %}
{% block title %} Flask-MQTT Dashboard (Humidity & Temperature) {% endblock %}

{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link href="{{url_for('static', filename='font-awsome/css/all.min.css') }}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 <link href="{{url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet" />

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='socket.io.min.js')}}" /> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>

<script>

  function showGraph(Tvalues, Hvalues, timeStamp)
  {
      var ctx = document.getElementById("Chart").getContext('2d');
      var Chart2 = new Chart(ctx, {
          type: 'line',
          data: {
              labels: timeStamp,  //Bottom Labeling
              datasets: [{
                  label: "Temperature",
                  fill: false,  //Try with true
                  backgroundColor: 'rgba( 243, 156, 18 , 1)', //Dot marker color
                  borderColor: 'rgba( 243, 156, 18 , 1)', //Graph Line Color
                  data: Tvalues,
              },
              {
                  label: "Humidity",
                  fill: false,  //Try with true
                  backgroundColor: 'rgba(156, 18, 243 , 1)', //Dot marker color
                  borderColor: 'rgba(156, 18, 243 , 1)', //Graph Line Color
                  data: Hvalues,
              }],
          },
          options: {
              title: {
                      display: true,
                  
                  },
              maintainAspectRatio: false,
              elements: {
              line: {
                      tension: 0.5 //Smoothening (Curved) of data lines
                  }
              },
              scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
              }
          }
      });
  
  }
      
  </script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function(){
            socket.emit('client_connected', {data: 'Client connected on websocket!'})
        });

        // for first time
        socket.emit('publishTemp')
        socket.emit('getGraphData')
        socket.on('getTemp', function(data){
            console.log(data)
          
            var temphum = data.payload.split(",");
            $('#temp').fadeOut(function(){
                $(this).text(temphum[0]).fadeIn();
            });
            $('#hum').fadeOut(function(){
                $(this).text(temphum[1]).fadeIn();
            });
            //$('#temp').text(temphum[0]);
            //$('#hum').text(temphum[1]);
        });
        
        
        window.setInterval(function(){
            socket.emit('publishTemp')
            socket.emit('getGraphData')
        }, 10000); // every 10 seconds

        

        socket.on('drawGraph', function(data){
          //console.log(data)
          temps = [];
          hums = [];
          times = [];
          for(i=0;i<5;i++){
            var tempHumTime = data[i].split(";");
            temps[i] = parseFloat(tempHumTime[0]);
            hums[i] = parseFloat(tempHumTime[1]);
            times[i] = tempHumTime[2];
          }
          //console.log('temps', temps);
          showGraph(temps, hums, times);
        });
    });   
</script>
<script type="text/javascript">
  //$(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
//</script>

<script type="text/javascript">
//  $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script> 

{% endblock %}

{% block content %}
<img src="{{url_for('static', filename='img/13.jpg') }}" class="img-fluid"  style="width: 100%;  height: 80px;  ">
<div id="page-top" style="background-image:url({{url_for('static', filename='img/7.jpg') }});  " >
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
          
        </div>
  
      <!Temprature and Humitity>  
        <div class="row" style="margin-top: 1px; margin-bottom: 10px; min-height: 1px">
           
            <!show Temprature at Now> 
           <div class="col-sm-8 col-xs-12 col-xl-2 col-md-5 mb-6 card border-left-success shadow h-100 py-2" style="min-height: 1px; margin: 0 auto" >
               <div class="row">
                   <div class="col-xl-12 col-md-12 mb-12 " style="min-height: 5px" card border-left-success shadow h-100 py-2>
                     
              <div class="card-body" style=" border-bottom-color: #007bff">
                <div class="row no-gutters align-items-center" >
                    
                  <div class="col mr-2" >
                     
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-10" style="text-align: center">Temperature  &nbsp; <i class='fas fa-temperature-high' style='font-size:37px;color:red' style="margin-left: 5px"></i>        
                  
                    </div>
                  
                  </div>
                </div>
             
                     </div>
                   </div>
                 
                   </div>
                  <div class="row">
                   <div class="col-sm-4 col-md-12 col-xs-3 mb-12 " style="min-height: 5px; margin: 0 auto" card border-left-success shadow h-100 py-2>
                     
              <div class="card-body" style=" border-bottom-color: #007bff">
                <div class="row no-gutters align-items-center" style="margin: 0 atuo"  >
                    
                  <div style="margin: 0 auto">
                     
                  <label  media="(max-width: 600px)" style=" size: 200px   ;   background-color: white ; width: 140PX ; height:50px ; margin-top: 30px ; margin-right: auto ; margin-left: auto ; border:2px solid red ;border-radius:.35rem  " >
                      <p id="temp" style="text-align: center; font-size: 20px; margin: 10px auto"></p>
                        </label>
          
                    </div>
                   
                  </div>
                </div>
              
                     </div>
                   </div>
                
                   </div>
                       
                  
             <!-- <!show Humitity at Now>   -->
            <!-- <div class="col-xl-0 col-lg-1 mb-1" style="height:100px" ></div> -->
             <!-- <!show Humitity at Now>  -->
          
                <div class="col-sm-8 col-xs-12 col-xl-2 col-md-5 mb-6 card border-left-successs shadow h-100 py-2" style="min-height: 1px; margin: 0 auto" >
               <div class="row">
                   <div class="col-xl-12 col-lg-12 mb-12 " style="min-height: 5px" card border-left-success shadow h-100 py-2>
                     
              <div class="card-body" style=" border-bottom-color: #007bff">
                <div class="row no-gutters align-items-center" >
                    
                  <div class="col mr-2" >
                     
                    <div class="text-xs font-weight-bold text-successs text-uppercase mb-10" style="text-align: center">Humidity  &nbsp&nbsp; <i class=' 	fas fa-cloud-rain' style='font-size:50px;color:blue' style="margin-left: 20px"></i>        
                  
                    </div>
                  
                  </div>
                </div>
             
                     </div>
                   </div>
                 
                   </div>
                  <div class="row">
                   <div class="col-xl-12 col-lg-12 mb-12 " style="min-height: 5px" card border-left-success shadow h-100 py-2>
                     
              <div class="card-body" style=" border-bottom-color: #007bff">
                <div class="row no-gutters align-items-center" >
                    
                  <div  style="margin: 0 auto">
                  <label media="(max-width: 600px)" style=" size: 200px   ;   background-color: white ; width: 140PX ; height:50px ; margin-top: 20px ; margin-right: auto ; margin-left: auto ; border:2px solid blue ;border-radius:.35rem  " >
                        <p id="hum" style="text-align: center; font-size: 20px; margin: 10px auto"></p>
                        </label>
          
                    </div>
                   
                  </div>
                </div>
              
                     </div>
                   </div>
                
                   </div>
           
           
         
            
            
        </div>

                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                     
        <!-- select Date & Time for Chart -->
        <div class="row" style=" margin-top: 1px">

            <div class="col-xl-2 col-lg-2" ></div>

             <div class="col-xl-8 col-lg-8" >
            <div class="card shadow mb-12"  >
              
                <div class="text-xs card-header py-3 d-flex flex-row align-items-center justify-content-between" style="min-width: 1px ; background-color: #000033 ">
                    <h6 class="text-xs m-0 font-weight-bold text-primary align-items-center justify-content-between" style="font-style: #fff" >Live Chart</h6>
              
              </div>
               
              <!-- Chart Area -->
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="Chart" width="400" height="400"></canvas>
                </div>
              </div>
              
            </div>
          </div>
              
                <div class="col-xl-2 col-lg-2" ></div>         
      </div>
  



        
        
        
<footer><img src="{{url_for('static', filename='img/13.jpg') }}" class="img-fluid" alt="Responsive image" style="width: 100%;  height: 50px;"></footer>

    </div>



{% endblock %}
